body {background-color: #525e54;
    color: white
}

.navbar {background-color: #454e46;}

.navbar-brand{color:white;
     font-family: "ＭＳ Ｐゴシック"
    }
.card{background-color: #454e46;}
a {text-decoration: none; }